{% extends "base.html" %}
{% block content %}
    <div class="aboutPage shadow">
    <div class="aboutHeader">
        <h3>About</h3>
    </div>
    <img src="https://www.ru.is/media/adstadan---myndir/banner-full-staerd/RU_1.jpg" id="hqImg">
        <div class="infoBox">
            <p>Address: Menntavegur 1<p/>
             <p>City: Reykjavík<p/>
             <p>Zip: 102<p/>
             <p>Country: Iceland<p/>
    </div>
    <div class="textBox">
        The Ship O' Cereal company started at the Reykjavík University by three Computer Science students,
        who had a passion for cereal and web design. Since no one in Iceland offered such a diverse and
        affordable cereal online store, Grímur, Hörður and Tryggvi decided to do something. With over 15
        products, the website is ever growing. Do not hesitate to contact us regarding our service.


    </div>
    </div>
{% endblock %}