{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>SHIP O' CEREAL</title>
        <meta charset="UTF-8">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="shortcut icon" href="{% static 'logoMakr-2rUmgb.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
        <script src="{% static 'js/cookies.js' %}"></script>

    </head>

    <body>
        {% include 'navigation.html' %}
<div>
    <div class="base">
        {% block content %}
        {% endblock %}
            </div>
    <div class="baseFooter">
        {% include 'footer.html' %}
    </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="{% static 'js/products.js' %}"></script>
    </body>

</html>