
<!-- Footer -->
<footer class="page-footer font-small yellow pt-4 pb-4 shadow mt-5">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-5 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Ship O'Cereal</h5>
        <p>Address: Menntavegur 1<p/>
             <p>City: Reykjavík<p/>
             <p>Zip: 102<p/>
             <p>Country: Iceland<p/>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-2" id="footerLinks">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'homeIndex' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'productsIndex' %}">Products</a>
          </li>
             <li>
            <a href="{% url 'aboutIndex' %}">About</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
   <div class="col-md-3 mb-md-0 mb-2" id="contactUs">

        <!-- Links -->
        <h5 class="text-uppercase">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            <p>Business hours: 09:00-18:00 every day</p>
          </li>
          <li>
            <p>Phone number: 585-4321</p>
          </li>
             <li>
            <p>Email address: captain@shipcereal.com</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">



